CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8092/'
app.forceGlobalSecureRequests = false

database.default.hostname = db
database.default.database = viajes
database.default.username = viajes
database.default.password = viajes123
database.default.DBDriver = MySQLi
database.default.port     = 3306

session.driver            = 'CodeIgniter\Session\Handlers\DatabaseHandler'
session.cookieName        = 'viajes_session'
session.expiration        = 7200
session.savePath          = 'ci_sessions'
session.matchIP           = false
